:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    text-align: center;
    font-size:1.2rem;
    margin: 0;
}

h1{
    font-size: 3rem;
}

.sub-heading{
    font-size: 2rem;
}
.container{
    min-width: 100%;
    min-height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0px;
    position: fixed;
    background-color: #5f5f5f29;
    backdrop-filter: blur(2px);
}

#add-book{
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: steelblue;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#add-book:hover{
    background-color: rgb(0, 93, 150);
}

#bookDiv{
    background-color: white;
    border-radius: 12px;
    width: 30%;
    min-height: 170px;
    padding: 1.2rem;
    border: 1.2px solid gold;
    box-shadow: #c58815 3px 4px 20px 2px;
}

#myForm{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 12px;
    align-items: center;
}

#myForm div{
    width: 100%;
}


form input{
    margin-top: 0.2rem;
    width: 95%;
    padding: 6px;
    border-radius: 0.3rem;
    border: 2px solid rgb(108, 107, 107);
}

form input:focus{
    border: 2px solid purple;
}

input[type=radio]{
    width: 10%;
}

form button{
    width: 30%;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: rgb(47, 235, 47);
    color: rgb(10, 10, 10);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

form button:hover{
    color: white;
    background-color: rgb(0, 123, 0);
}

#display-book{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 24px;
    gap: 12px;
}

.tables{
    text-align: start;
    background-color: white;
    padding: 24px;
    border: 2px solid gold;
    border-radius: 12px;
    box-shadow: #8812b7 5px 6px 1px 0px;
}


.removeBtn{
    color: white;
    background-color: red;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.toggleRead{
    color: #eafff5;
    background-color: #a511d7;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.removeBtn:hover{
    background-color: rgb(134, 0, 0);
}

.toggleRead:hover{
    background-color: #6e0c8e;
}